<div class="row">
    <h1></h1>
</div>

<form method="post" action="process_file" enctype="multipart/form-data">
    <label for="file">Upload file</label>
    <input type="file" name="file" id="file">

    <input type="submit">
</form>