<div class="row">
    <h1></h1>
</div>

<form action="process_xls_file" enctype="multipart/form-data">
    <label for="csvFile">Upload file</label>
    <input type="file" name="csvFile">

    <input type="submit">
</form>